main .swiper-slide img {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: aqua;
}

main .swiper-button-next a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.information_bg {
  width: 100%;
  height: auto;
  background-color: #f2f4f7;
}

.information {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  letter-spacing: -0.05rem;
}

.information .information_title {
  position: relative;
  display: inline-block;
  font-size: 2.6667rem;
  font-weight: 700;
}

.information .information_title::after {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0567eb;
  border-radius: 100%;
}

.information .infotm_img_01 {
  display: block;
  margin: 5% auto;
}

.information .information_year {
  text-align: right;
  font-size: 1rem;
  padding-bottom: 1.5%;
  font-weight: 500;
  padding-right: 1.5%;
}

.information .information_box > ul {
  display: flex;
  justify-content: space-between;
}

.information .information_box > ul > li {
  width: 25%;
  text-align: center;
  padding: 4% 0;
  border-radius: 20px;
  background: #fff;
  margin: 0 1.5%;
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
}

.information .information_box > ul > li .line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  margin: 10% auto;
}

.information .information_box > ul > li p {
  font-size: 1.6667rem;
  line-height: 2.2rem;
  color: #0567eb;
  font-weight: 500;
  margin-bottom: 5%;
}

.information .information_box > ul > li span.information_number {
  font-size: 3rem;
  font-weight: 500;
}

.information .information_box > ul >li span {
  font-size: 2.3333rem;
  font-weight: 400;
  color: #000;
}

.story {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  background: url(../Posco/poimage/story_bg.png) no-repeat;
  background-position: center 70%;
  letter-spacing: -0.05rem;
}

.story .story_title {
  position: relative;
  display: inline-block;
  font-size: 2.6667rem;
  font-weight: 700;
}

.story .story_title::after {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0567eb;
  border-radius: 100%;
}

.story .story_last a {
  display: block;
  padding: 0 10%;
}

.story .story_last a::after {
  content: '';
  position: absolute;
  right: 12%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(poimage/ico.png);
  background-repeat: no-repeat;
  background-size: 25px auto;
  width: 13px;
  height: 13px;
  background-position: left -163px;
}

.story_wrap {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.story_tab .story_btn {
  padding-right: 7%;
}

.story_tab .story_btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.6667rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #0b3f84b5;
}

.story_tab .contentsWrap .story_box img {
  max-width: 100%;
  border-radius: 20px;
  border: 4px solid #00f3ff;
}

.story_tab .contentsWrap {
  width: 100%;
  overflow: hidden;
}

.story_tab .contentsWrap .story_box p:first-of-type {
  font-size: 2.6667rem;
  font-weight: 700;
  padding-left: 40px;
  margin: 50px 0 30px;
}

.story_tab .contentsWrap .story_box p:first-of-type::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 6px;
  background: url(../Posco/poimage/news_box_ico.png) no-repeat center;
  width: 30px;
  height: 30px; 
}

.story_tab .contentsWrap .story_box p:first-of-type .story_dt {
  font-size: 1.3333rem;
  font-weight: 400;
}

.story_tab .contentsWrap .story_box p {
  position: relative;
  font-size: 1.3333rem;
  color: #fff;
  font-weight: 500;
}

.story_tab .contentsWrap .story_box a {
  display: block;
  font-size: 1.3333rem;
  color: #fff;
  font-weight: 700;
  width: 150px;
  height: 50px;
  line-height: 46px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #fff;
  margin-top: 3%;
}

#contents {
  margin-top: 80px;
  padding-bottom: 100px;
}

.pc {
  display: block;
}